<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="../../libs/vue/vue.js"></script>
</head>
<body>

    <h1>shift метод</h1>
    
    <div id="app">

        <form>
            <ul>
                <li><strong>Все авто: {{ auto.length }}</strong></li>
                <li v-for="i in auto">{{ i }}</li>
            </ul>

            <input type="text" v-model="newAuto" placeholder="Введите новую модель автомобиля" />
            <ul>
                <br />
                <li><button type="button" v-on:click="unshiftClick">Добавить в начало</button></li>
                <li><button type="button" v-on:click="shiftClick">Удалить первый автомобиль</button></li>
                </li>
        </form>
        
    </div>
    
   <script>
   
        window.onload = function() {

            var sample = new Vue({
                el: "#app",
                data: {
                    auto: [
                        'Toyota',
                        'Honda',
                        'Volvo',
                        'Siat',
                        'BMV'
                    ],
                    newAuto: '',
                },
                methods: {
                    unshiftClick: function (e) {
                        if (this.newAuto == '') {
                            e.preventDefault();
                            alert('Введите значение')
                        }
                        else {
                            this.count = this.auto.unshift(this.newAuto);
                            this.newAuto = '';
                        }
                    },
                    shiftClick: function () {
                        //Возвращает первый удалённый элемент элемент
                        var shifted = this.auto.shift();
                        console.log(shifted)
                    }
                }
            })

        };

   </script>

    <style scoped>

        h1 {
            text-align: center;
            color: green;
        }

    </style>

</body>
</html>